/* Set primary and secondary fonts */
html {
    --primary-font: "Inter", sans-serif, emoji;
    --secondary-font: "Inter", sans-serif, emoji;
}


/* Default font for body */
body {
    font-family: var(--secondary-font) !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: var(--secondary-font);
}

/* primary font */
.primary-font, #primary-font {
    font-family: var(--primary-font);
}

/* Default font */
.default-font, #default-font {
    font-family: var(--secondary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}